Static {
    border: solid white;
}
Screen {
    /* border: solid white; */
}
Button {
    width: 100%;
}

#sidebar {
    dock: left;
    width: 35;
    height: 100%;
}
#body {
    height: 100%;
}
#text_log {
    height: 30%;
    border: solid white;
    display: none;
}
#login_dialog {
    align: center middle;
    width: 80%;
    margin: 1;
    grid-size: 2;
    grid-gutter: 2;
    padding: 1 2;
}
#login_label_username {
    align: right middle;
    content-align: right middle;
}
#login_label_password {
    align: right middle;
    content-align: right middle;
}
#quit_dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    padding: 1 2;
}
#quit_question {
    column-span: 2;
    content-align: center bottom;
    width: 100%;
    height: 100%;
}
#book_content_container {
    height: 80%;
}
#book_content {
    height: 100%;
}